.work {
    font-family: "Poppins", sans-serif;
}

.work .work-content .left {
    width: 65%;
}

.work .work-content .right {
    width: 35%;
}

.work .work-content .right .text {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
    color: red;
}

.work .work-content .right .text h5 {
    color: #222;
}

.right-content {
    margin: 10px;
}

.work .work-content .right .aboutwork {
    width: 100%;
    height: 300px;
    background-color: #222;
    border-radius: 6px;
    padding: 20px;
    justify-content: space-between;
}

.work .work-content .right .aboutwork div {
    margin-bottom: 15px;
}

.work .work-content .right .aboutwork .aboutheading {
    color: yellow;
}

.work .work-content .right .aboutwork .ans {
    color: #fff;
}

.work .work-content .right .text span {
    color: red;
}

.work .work-content .right p {
    text-align: justify;
}

.work .work-content .right .linkedin {
    display: inline-block;
    background: blue;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 25px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid blue;
    transition: all 0.3s ease;
}

.work .work-content .right .linkedin:hover {
    color: blue;
    background: none;
}

.work .work-content .right .github {
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 25px;
    margin: 15px;
    border-radius: 6px;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.work .work-content .right .github:hover {
    color: black;
    background: none;
}

.work .work-content .left img {
    position: relative;
    height: 400px;
    width: 100%;
    /* object-fit: cover; */
    border-radius: 6px;
    border-radius: 2px;
    border: 5px solid black;
}


/* .work .work-content .left img:hover {
    cursor: pointer;
    opacity: 0.3;
} */

.work .work-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    margin-top: 20px;
    overflow: scroll;
    padding: 15px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    border-radius: 5px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
}

@media (max-width: 950px) {
    .work .work-content .column img {
        align-items: center;
        width: 150%;
        height: 350px;
    }
    /* .work .work-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    } */
    .work .work-content .right {
        flex: 100%;
    }
}