@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.mainparaheading {
    font-weight: bold;
    font-size: 30px;
}

.miniparaheading {
    font-weight: bold;
    font-size: 22px;
}

.note {
    background: yellow;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 5px;
}

img {
    border-radius: 8px;
    margin: 10px 10px;
    border: 1px solid black;
}

p {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 5px;
}

.postedate h3 {
    margin-left: 85%;
}

footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

.resume {
    display: inline-block;
    background: darkred;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 25px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid darkred;
    transition: all 0.3s ease;
}

.resume:hover {
    color: red;
    background: none;
}

footer span a {
    color: red;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

.mongblog img {
    width: 90%;
    border: 1px solid black;
}

.mongblog .smallimg img {
    width: 500px;
    height: 350px;
}

@media (max-width: 950px) {
    img {
        width: 100%;
        align-items: center;
        margin-left: 1px;
    }
    iframe {
        width: 100%;
    }
    .postedate h3 {
        margin-left: 65%;
        font-size: 90%;
        margin-bottom: 10px;
    }
    .mongblog .smallimg img {
        width: 100%;
        align-items: center;
        height: 300px;
    }
}