.work {
    font-family: "Poppins", sans-serif;
}


/* .taskify {
    background-image: url("worksampleimg/taskify.png");
} */

h3 {
    color: red;
    font-weight: bold;
}

.card1 img,
.card2 img {
    padding-top: 25px;
    /* object-fit: cover; */
    width: 100%;
    height: 280px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}

.content {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    font-size: 20px;
    /* transform: translate(-50%, -50%); */
    color: white;
    /* text-align: center; */
}

.card1 {
    display: inline-block;
    position: relative;
    align-items: center;
    /* margin-top: 20px; */
    /* margin-right: 20px; */
    padding: 15px;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    border-radius: 5px;
    width: 600px;
    height: 350px;
    transition: 0.3s;
}

.card2 {
    position: relative;
    display: inline-block;
    padding: 15px;
    margin-left: 20px;
    /* background-image: url("../worksampleimg/weather.png");
    background-repeat: no-repeat;
    background-size: 100%; */
    background-position: center;
    border-radius: 5px;
    width: 400px;
    min-height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: 0.3s;

}

.overlay .content .SourceCode,
.liveLink {
    display: inline-block;
    font-weight: bold;
    background: blue;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 25px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid blue;
    transition: all 0.3s ease;
}

.techstack{
    background: blue;
    font-weight: bold;
    padding: 5px;
    color: white;
    border-end-end-radius: 50%;
    border-top-right-radius: 50%;
}

.card2Elem {
    margin-top: 20px;
}
.card2 .card2Elem span{

    margin-right: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    
}

.card2 .card2Elem span img{
    display: inline-block;
    height: 70px;
    width: 50px;
}
.overlay .content .SourceCode:hover,
.liveLink:hover {
    color: blue;
    font-weight: bold;
    background: none;
}

.overlay:hover {
    opacity: 0.9;
}

.card1:hover{
    transform: scale(1.02);
}

/*.workcardBound{
    width: 100%;
    border-radius: 7px;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    padding: 10px;
}

.right-content{
    float: right;
}*/

.workHeading{
    background: black;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}


@media (max-width: 950px) {
    .card1 {
        width: 100%;
        height: 250px;
        transition: 0.3s;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 15px;
    }
    .techstack{
        background: blue;
        font-weight: bold;
        padding: 2px;
        color: white;
        border-radius: 3px;
    }
    .card2 {
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        min-height: 35px;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
        padding: 10px;
    }
    .card1 img{
        padding-top: 25px;
        /* object-fit: cover; */
        width: 100%;
        height: 200px;
    }
    .card2Elem {
        margin-top: 5px;
    }
    .card1:hover{
        transform: scale(0.9);
    }
    .content {
        font-size: 80%;
    }
}

@media (max-width: 380px) {
    .content {
        font-size: 60%;
    }
}